.body.active .contact {
  display: grid;
  align-content: space-between;
  opacity: 0.4;
  border-width: 2px;
  border-style: solid;
  border-color: white;
  border-radius: 10px;
  animation: animate-contact 0.5s linear;
  transform: perspective(1300px) translateX(-13rem) translateZ(60px)
    translateY(0rem) rotateY(30deg) scale(0.5);
  z-index: 98;
}

.body.active .contact.hover-contact {
  opacity: 1;
  transform: perspective(1300px) translateX(-14rem) translateY(-2.5rem)
    rotateY(30deg) scale(0.515);
}

.body.active .contact:hover {
  opacity: 1;
  transform: perspective(1300px) translateX(-14rem) translateY(-2.5rem)
    rotateY(30deg) scale(0.515);
}

.contact.active-contact {
  z-index: 102;
}

.heading {
  position: absolute;
  top: 7rem;
}

.body.active .heading{
  top:0rem;
}

@keyframes animate-contact {
  0% {
    transform: scale(1);
    display: grid;
    place-content: center;
  }
  50% {
    transform: perspective(1300px) translateX(-7rem) translateY(4.5rem)
      rotateY(30deg) scale(0.5);
    display: grid;
    place-content: center;
  }
  100% {
    transform: perspective(1300px) translateX(-13rem) translateZ(60px)
      translateY(0rem) rotateY(30deg) scale(0.5);
  }
}
