
.contact.active-contact {
  z-index: 102;
}

.heading {
  position: absolute;
  top: 7rem;
}

.body.active .heading{
  top:0rem;
}

.input{
  transition: 0.5s ease-in-out;
}

input, textarea{
  background-color: rgb(236, 226, 236);
}

.input:focus{
  box-shadow: 0 0 100px 20px rgb(92, 8, 92);
  transition: 0.5s ease-in-out;
}

.textf{
transition: 0.5s ease-in-out;
}

.textf:focus{
  box-shadow: 0 0 100px 20px rgb(92, 8, 92);
  transition: 0.2s ease-in-out;
}

.submit-button{
  display: flex;
  justify-content: center;
}

.button{
  transition: 0.5s ease-in-out;
}

.button:hover{
  transition: 0.5s ease-in-out;
  transform: scale(1.1);
}

.contact-bookmark{
  position: relative;
  border:rgb(92, 8, 92);
  background-color: antiquewhite;
  width: 10rem;
  height: 3rem;
  top:3.5rem;
  left: -6.5rem;
  transform: rotate(-90deg) perspective(1300px);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

.contact-gif{
  position: fixed;
  top:5rem;
  right: 8rem;
  transform: scale(1.1);
}

.jelly{
  animation: jelly 1s infinite;
}

@keyframes jelly {
  0% {
    transform: scale(1, 1);
  }
  30%{
    transform: scale(1.2, 0.8);
  }
  40%{
    transform: scale(0.8, 1.2);
  }
  50%{
    transform: scale(1.1, 0.9);
  }
  60%{
    transform: scale(0.9, 1.1);
  }
  70%{
    transform: scale(1.05, 0.95);
  }
  80%{
    transform: scale(0.95, 1.05);
  }
  90%{
    transform: scale(1.02, 0.98);
  }
  100% {
    transform: scale(1, 1);
  }
}

.letter {
  will-change: transform;
  cursor: default;
  display: inline-block;
  transition: transform 0.15s ease;
}