* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

::-webkit-scrollbar {
  width: 0;
}

html {
  /* background-image: url("bg.jpg"); */
  background-color: rgb(17, 2, 17);
  background: linear-gradient(90deg, rgb(17, 2, 17) 2px, transparent 1%) center, linear-gradient(rgb(17, 2, 17) 2px, transparent 1%) center, black;
background-size: 22px 22px;
}

.home,
.project,
.contact,
.about {
  position: absolute;
  color: white;
  background-color: rgb(12,15,27);
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: grid;
  transform-style: preserve-3d;
  transition: 0.5s;
  z-index: 101;
}


.cursor {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: 1px solid rgb(255, 255, 255);
  transition: all 200ms ease-out;
  position: fixed;
  pointer-events: none;
  left: 0;
  top: 0;
  transform: translate(calc(-50% + 15px), -50%);
  box-shadow: 0 0 100px 30px rgb(92, 8, 92);
  z-index: 999;

}

.cursor2 {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: rgb(255, 255, 255);
  opacity: .3;
  position: fixed;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: width .3s, height .3s, opacity .3s;
  z-index: 999;
  box-shadow: 0 0 100px 20px rgb(92, 8, 92);

}

.hover {
  background-color: rgb(183, 174, 174);
  opacity: 0.5;
}

.cursorinnerhover {
  width: 50px;
  height: 50px;
  opacity: .5;
}